
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #2F2F2F;
}

*{
   text-decoration: none;
   list-style-type: none;;
}

header {
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #bfbfbf;
  max-width: 800px;
  border-radius: 10px;
}

main{
  margin: 0 auto;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #bfbfbf;
  max-width: 800px;
  border-radius: 10px;
}

p{
  margin: 0;
}


.headTitle  {
  margin-top: 10px;
  padding-top: 20px;
}

.emp-list{
  overflow: auto;

}

.emp-item{
  display: block;
}

.list{
  overflow: auto;
}

button{
  background: #5cb85c;
  border-radius: 5px;
  border: 1px solid #4cae4c;
  box-shadow: 0px 0px 10px #000;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
  text-shadow: 0px 0px 3px #333;
}

button:hover {
	background-color: #47a447;
	border-color: #398439;
	box-shadow: 0px 0px 20px #111;
	color: #eee;
}

input, select{
  background-color: white;
  border-radius: 10px;
  width: 240px;
  height: 20px;
  padding-left: 10px;
}

.entries{
  margin-bottom: 10px;

}
h4{
  margin: 0;
}

hr{
  border: 0;
  height: 1px;
  background: #5cb85c;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 25px 0 5px 0;
}

.empButtons{
  float: right;
  margin-right: 10px;
  margin-top: -42px;
}

.empButtons button {
  margin-left: 10px;

}
